
.CorrectAnswerDiv {
    background-color: #78b800;
}

.WrongAnswerDiv {
    background-color: red;
}

.CorrectAnswerDiv button {
  background-color:  lightgreen;
  border-radius: 6px;
  color: #fff;
  min-width: 150px;
}

.WrongAnswerDiv button {
  background-color: salmon;
  border-radius: 6px;
  color: #fff;
  min-width: 150px;
}
