.AnswerInput {
  flex-grow: 1;
  border-radius: 10px;
  border: 2px solid #e5e5e5;
  background-color: #f7f7f7;
  color: #3c3c3c;
  resize: none;
  font: 400 13.3333px Arial;
  margin: 0px 0px 10px 0px;
}

.buttonContainer {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.buttonItem {
  margin: 3px 10px;
  border-radius: 6px;
  background-color: #1cb0f6;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 15px;
  text-align: center;
}

.buttonItem:hover {
  background-color: #78d2fc;
}

.selectedButtonItem {
  background-color: #2fcf5f;
}
.selectedButtonItem:hover {
  background-color: #6be991;
}

.DivInsideMiddle {
    margin: auto auto;
    max-height: 450px;
    height: 100%;
    width: 100%;
    text-align: left;
}
 
.DivInsideMiddle h1 {
    color: #3c3c3c;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
}
   
.DivInsideMiddle p {
    font-size: 20px;
}
